<h1>Update Survey: <%=@survey_title.survey_title() %> </h1>

<form action="/survey_title/<%= @survey_title.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="survey_title">Rename Title:</label>
  <input id="survey_title" name="survey_title" type="text">

  <button type="submit">Update</button>
</form>


<form action="/survey_title/<%= @survey_title.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <button type="submit" class="btn btn-xs btn-danger">Delete survey</button>

</form>

<p>Survey Questions:</p>
  <ul>
    <% @survey_questions.each() do |survey_question| %>
      <li><%= survey_question.survey_question() %>
        <form action="/survey_questions/<%= survey_question.id() %>" method="post">
        <input name="_method" type="hidden" value="patch">
        <label for="survey_question">Edit Question:</label>
        <input id="survey_question" name="survey_question" type="text">
        <button type="submit" class="btn btn-xs btn-success">Edit</button>
      </li>
    <% end %>
  </ul>


<a href="/">Return to main page</a>
